
  .header {
    font-size: 60px;
    font-family: ProximaNovaT;
    margin-left: 230px;
    margin-top: 70px;
}

.input-wrapper {
    margin-top: 30px;
    width: 344px;
    display: flex;
    justify-content: space-between;
    margin-left: 230px;

    .form1 {
        width: 344px;
        height: 58px;
    }

    .form2 {
        width: 453px;
        height: 58px;
        margin-right: -465px;
    }
}

.text-field {
    width: 100%;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    border-color: #79addc;
    font-family: GillSansLight;
}

.text-field:focus {
    border: 2px solid #79addc;
}

.text-field2 {
  width: 100%;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
  border-color: #79addc;
  font-family: GillSansLight;
}

.text-field2:focus {
  border: 2px solid #79addc;
}

.input-wrapper2 {
    margin-top: 0px;
    width: 344px;
    display: flex;
    justify-content: space-between;
    margin-left: 230px;

    .form3 {
        width: 344px;
        height: 58px;
    }

    .form4 {
        width: 453px;
        height: 58px;
        margin-right: -465px;
    }
}

.text-field3 {
    width: 100%;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    border-color: #79addc;
    font-family: GillSansLight;
}

.text-field3:focus {
    border: 2px solid #79addc;
}

.text-field4 {
  width: 100%;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
  border-color: #79addc;
  font-family: GillSansLight;
}

.text-field4:focus {
  border: 2px solid #79addc;
}

.input-wrapper3 {
    margin-top: 0px;
    width: 698px;
    margin-left: 342px;

    .form5 {
        width: 698px;
        height: 58px;
    }

}

.check {
    margin-left: -110px;
    font-size: 20px;
    margin-top: -50px;
    font-family: GillSans;
    font-size: 18px;
    font-weight: lighter;
}

.icon {
    position: relative;
    right: -670px;
    top: -30px;
}


.text-field5 {
  width: 100%;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
  border-color: #79addc;
  font-family: GillSansLight;
}

.text-field5:focus {
  border: 2px solid #79addc;
}

.input-wrapper4 {
        margin-top: 30px;
        width: 344px;
        display: flex;
        justify-content: space-around;
        margin-left: 500px;

    .form6 {
        width: 103px;
        height: 58px;
    }


    .form7 {
        width: 103px;
        height: 58px;
        margin-left: 20px;
    }

    .form8 {
        width: 103px;
        height: 58px;
        margin-left: 20px;
    }

    .arrow {
        position: relative;
        right: -80px;
        top: -30px;
    }

}

.check {
    margin-left: -110px;
    font-size: 20px;
    margin-top: -50px;
    font-family: GillSans;
    font-size: 18px;
    font-weight: lighter;
}

.icon {
    position: relative;
    right: -670px;
    top: -30px;
}


.text-field6 {
  width: 100%;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
  border-color: #79addc;
  font-family: GillSansLight;
}

.text-field6:focus {
  border: 2px solid #79addc;
}

.check {
margin-left: -110px;
font-size: 20px;
margin-top: -50px;
font-family: GillSans;
font-size: 18px;
font-weight: lighter;
}

.icon {
position: relative;
right: -670px;
top: -30px;
}


.text-field7 {
width: 100%;
padding: 10px;
outline: none;
box-sizing: border-box;
border-color: #79addc;
font-family: GillSansLight;
}

.text-field7:focus {
border: 2px solid #79addc;
}

.check {
margin-left: -110px;
font-size: 20px;
margin-top: -50px;
font-family: GillSans;
font-size: 18px;
font-weight: lighter;
}

.icon {
position: relative;
right: -670px;
top: -30px;
}


.text-field8 {
width: 100%;
padding: 10px;
outline: none;
box-sizing: border-box;
border-color: #79addc;
font-family: GillSansLight;
}

.text-field8:focus {
border: 2px solid #79addc;
}

.input-wrapper5 {
    margin-top: 30px;
    width: 818px;
    max-height: 192px;
    margin-left: 230px;

    .form9 {
        width: 818px;
        max-height: 192px;
    }

}

.text-field9 {
    width: 100%;
    padding: 10px;
    width: 818px;
    max-height: 192px;
    font-size: 200px;
    outline: none;
    box-sizing: border-box;
    border-color: #79addc;
    font-family: GillSansLight;
}

.text-field9:focus {
    border: 2px solid #79addc;
}




